<!doctype html>
{% extends "CWblog/home.html" %}
{% load static %}
{% block content %}
  <main class="pure-u-1 pure-u-md-1-2 text_center">
    <div class="contents pure-u-md-1-2">
      <h2 class="title-font"><i class="fas fa-asterisk"></i>关于CommunicationsWe</h2>
      <p class="title-font">这是一个意图解决人们沟通隔阂的项目，基于Django框架及PureCSS框架进行开发。</p>
      <p class="title-font">目前主要功能有：</p>
      <ul class="title-font">
        <li>博客赏析功能</li>
        <li>上传文章功能</li>
        <li>API对接的历史上的今天功能</li>
        <li>相册欣赏功能</li>
      </ul>
    </div>
  </main>
{% endblock %}
