<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>CommunicationsWE</title>
		<link href="{% static 'CWblog/icons/base_icon.png' %}" rel="shortcut icon" />
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
		<!-- pure -->
		<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/base-min.css">
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
		<!-- bootstrap
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
		<!-- fontawesome -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<!--[if lte IE 8]><!-->
			<link rel="stylesheet" href="{% static 'CWblog/css/pure-release-0.6.1/grids-responsive-old-ie-min.css' %}">
		<!--[endif]-->
		<!--[if gt IE 8]><!-->
			<link rel="stylesheet" href="{% static 'CWblog/css/pure-release-0.6.1/grids-responsive-min.css' %}">
		<!--<![endif]-->
		<link rel="stylesheet" href="{% static 'CWblog/css/base.css' %}">
		<link rel="stylesheet" href="{% block css %}{% endblock %}">

	</head>
	<body>
		<div id="wapper">
			{% block nav %}{% endblock %}
			{% block side_menu %}{% endblock %}
			{% block content %}{% endblock %}
			{% block side_gallery %}{% endblock %}
      {% block footer %}{% endblock %}
    </div>

	</body>
	<script type="text/javascript" src="{% static 'CWblog/js/jquery-3.3.1.js' %}"></script>
	<script type="text/javascript" src="https://unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js"></script>
	<script type="text/javascript" src="{% static 'CWblog/js/wangEditor.js' %}"></script>
	<script src="{% static 'CWblog/js/get_books.js' %}"></script>
</html>
