<!DOCTYPE html>
{% extends "CWblog/home.html" %}
{% block content %}
  <main class="pure-u-1-2 pure-u-md-1-2 text_center">
    <div class="contents pure-u-md-1-2">
      <nav aria-label="Page navigation example">
        {% for contact in contacts %}
        <table class="pure-table">
            <h3><a class="title-font" href="{% url 'CWblog:detail' pk=contact.pk %}">{{ contact.title }}</a></h3>
            <h6 class="title-font">作者：{{ contact.author }}</h6>
            <div class="article-font">{{ contact.contents | striptags | truncatechars:120 }}</div>
          </table>
        {% endfor %}
        
        <ul class="pagination">
          {% if contacts.has_previous %}
            <li class="page-item"><span class="sr-only">Previous</span>
              <a class="page-link" href="?page={{ contacts.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          {% endif %}

          <li class="page-item"><a class="page-link" href="?page={{ contacts.number }}">{{ contacts.number }}</a></li>
          
          {% if contacts.has_next %}
            <li class="page-item"><span class="sr-only">Next</span>
              <a class="page-link" href="?page={{ contacts.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </main>
{% endblock %}


{% block side_gallery %}{% endblock %}
