<!doctype html>
{% extends "CWblog/home.html" %}
{% load static %}


{% block content %}
  <main class="pure-u-1 pure-u-md-1-2 text_center">
    <div class="contents pure-u-md-1-1 pure-paginator">
      {% if article %}
        <table class="pure-table">
          <h3><a class="title-font" href="">{{ article.title }}</a></h3>
          <h6 class="title-font">作者：{{ article.author }}</h6>
          <div class="article-font">{{ article.contents|safe }}</div>
        </table>
        <div class="blog-more">
            <p class="article-link">上一篇：
                {% if context.previous_article %}
                <a class="article-link" href="{% url 'CWblog:detail' context.previous_article.pk %}">{{ context.previous_article.title }}</a>
                {% else %}
                    没有了
                {% endif %}
            </p>
            <p class="article-link">下一篇：
                {% if context.next_article %}
                    <a class="article-link" href="{% url 'CWblog:detail' context.next_article.pk %}">{{ context.next_article.title }}</a>
                {% else %}
                    没有了
                {% endif %}
            </p>
        </div>
      {% endif %}
    </div>
  </main>
{% endblock %}

{% block side_gallery %}{% endblock %}