/* CSS Document */
div.custom-restricted-width {
    /* To limit the menu width to the content of the menu: */
    /* Or set the width explicitly: */
    width: 10rem;
}
.side-menu {
	margin-left: 3rem;
}

.contents {
	margin-left: 20rem;
}

.text-center {
    margin-left: 60rem;
    font-size: small;
}
